<html>
    <head>
        <title>Code Templator</title>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    </head>
    <body>
        <h2>Code Templator</h2>
        <m-container>
            <m-row>
                <m-col>
                    {% include "tables_select.tmplt.html" %}
                </m-col>
            </m-row>
        </m-container>
    </body>
</html>